<h1>Jesus Restaura<h1>

<div class="row justify-content-center mt-5">
  <div class="col-md-6 text-center">
    <h2 style="color: #ff6b00; font-weight: 700;">Biblia</h2>
    <h4 class="text-secondary mb-4">Selecciona un Libro de la Biblia</h4>

    <%= form_with url: bible_set_book_path, method: :post, local: true do %>
      <div class="input-group">
        <%= select_tag :book,
          options_for_select(@books.map { |book| [book.capitalize, book] }),
          class: "form-select" %>
        <button type="submit" class="btn btn-warning text-white">Continuar</button>
      </div>
    <% end %>
  </div>
</div>
