/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    background-color: #fff9f5;
    color: #333;
    font-family: "Helvetica Neue", sans-serif;
}

.navbar,
.footer {
    background-color: #ff6b00; /* orange */
    color: white;
}

.navbar a,
.footer a {
    color: white;
}

.btn-primary {
    background-color: #ff6b00;
    border-color: #ff6b00;
}

.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}

a {
    color: #007bff; /* Bootstrap blue */
}

.highlight-blue {
    color: blue;
    font-weight: bold;
}
